.container-data {
    width: 99%;
    height: auto;
}


/* encabezado principal */

.encabezado {
    width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.logo {
    width: 18%;
    height: auto;
    /* margin: 0% 0 0 0; */
}

.mb-4 {
    width: 55%;
    height: auto;
    margin: 5% 0%;
}

.carousel-item {
    width: auto;
    height: 400px;
    max-height: 400px;
    display: contents;
}


/*Menu*/

nav {
    width: auto;
    height: 35px;
}

#menu {
    width: 70%;
    height: 35px;
    background-color: #4ea7cd;
    position: relative;
}

#menu .menup {
    width: auto;
    height: 35px;
    margin: auto auto auto 25%;
    padding: 0px;
}

#menu li {
    float: left;
    position: relative;
    padding: 6px 0;
    margin: 0;
    list-style: none;
}

#menu li a {
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}


/*ocultamos el dropdown*/

#menu li>ul {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 2;
}

#menu li>ul li {
    padding: 0;
    margin: 1px 0;
    list-style: none;
}

#menu li>ul li:first-child,
#menu li:hover>ul li:last-child {
    padding: 0;
    margin: 0 0;
}


/*le damos el color blanco al enlance del submenu y el background negro */

#menu li:hover>a {
    color: #fff;
    background-color: #a2a3a5;
    width: 120px;
}

#menu li>ul li a {
    width: 150px;
    margin: 0 0 0 5px;
    display: block;
    color: #fff;
}


/* Con esto mantenemos el codigo submenu activo */

#menu li:hover>ul {
    display: block;
    width: 150px;
    top: 35px;
}

#menu .divider {
    border-right: 1px solid #BCBCBC;
    height: 23px;
}

#menu .dropdown::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 60px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4.3px;
    border-bottom-width: 0px;
    border-color: #BCBCBC transparent transparent transparent;
}

#menu li:hover::after {
    border-color: #fff transparent transparent transparent;
}

#menu .dropdown span {
    height: 15px;
    width: 3px;
    position: absolute;
    top: 6px;
    left: 5px;
}

.section-cards {
    width: 100%;
    height: auto;
    padding: 3%;
    text-align: center;
}

.cards {
    margin: 3%;
    box-shadow: 0px 10px 10px black;
}